.container {
  @apply mt-5 flex flex-col items-center py-16 relative;
}

.main_text {
  @apply text-center md:text-6xl text-3xl sm:text-4xl font-black;
}

.title_wrapper {
  @apply my-16;
}

.content_wrapper {
  @apply md:ml-24 ml-12;
}

.card {
  @apply flex flex-col items-center gap-4 w-72;
}

.card_bg {
  background: linear-gradient(
    180deg,
    #e38cff 0%,
    rgba(232.77, 178.47, 249.9, 0.58) 100%
  );
  @apply rounded-3xl p-3 flex justify-center items-center w-1/2;
}

.card_title {
  @apply font-bold text-lg;
}

.card_description {
  @apply text-center;
}

.pink_dot {
  position: absolute;
  right: -5%;
  top: 50%;
  z-index: -1;

  @apply hidden md:block;
  animation: pulse 1s infinite ease-in-out alternate;

}

.yellow_dot {
  position: absolute;
  left: -4%;
  top: 65%;
  z-index: -1;

  @apply hidden md:block;
  animation: pulse 1s infinite ease-in-out alternate;

}

/* ANIMATIONS */
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}