.sub_course
{
    @apply flex flex-col absolute top-full md:w-64
}

.qr_wrapper {
    background: linear-gradient(to right, black 8px, transparent 8px) 0 0,
      linear-gradient(to right, black 8px, transparent 8px) 0 100%,
      linear-gradient(to left, black 8px, transparent 8px) 100% 0,
      linear-gradient(to left, black 8px, transparent 8px) 100% 100%,
      linear-gradient(to bottom, black 8px, transparent 8px) 0 0,
      linear-gradient(to bottom, black 8px, transparent 8px) 100% 0,
      linear-gradient(to top, black 8px, transparent 8px) 0 100%,
      linear-gradient(to top, black 8px, transparent 8px) 100% 100%;
  
    background-repeat: no-repeat;
    background-size: 40px 40px;
  
    @apply flex justify-center items-center p-4;
  }

  .cart_item {
    @apply py-4 h-80 md:h-96 overflow-y-scroll scroll-smooth;
  }

  .cart_item::-webkit-scrollbar {
    width: 8px; 
  }
  
  .cart_item::-webkit-scrollbar-thumb {
    background-color: #d2d6da; 
    border-radius: 20px;
  }
  
  .cart_item::-webkit-scrollbar-track {
    background-color: #f5f5f5; 
  }