.blur_bg {
  background-color: rgba(245, 241, 241, 0.45);
  border-radius: 67px;
  border: 1px solid white;
  backdrop-filter: blur(40px);
  margin-top: 50px;
  
  @apply relative flex justify-center items-center h-full w-3/4 mx-auto;
}

.title {
  @apply md:text-3xl sm:text-2xl text-lg mb-16 text-center font-bold w-48 h-10 flex relative right-12 sm:static;
}

.form_wrapper {

  
  @apply w-1/2 px-48 pt-16 pb-48 rounded-lg;
}

.pink_dot_first {
    position: absolute;
    top: 10%;
    left: -5%;

    @apply sm:block hidden

}

.pink_dot_second {
    position: absolute;
    bottom: -5%;
    right: -5%;
}

.yellow_dot_first {
    position: absolute;
    bottom: -8%;
    right: 2%;
}

.yellow_dot_second {
    position: absolute;
    bottom: 0;
    left: -5%;
}