@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --element-blue-color: #35CFED;
  --element-pink-color: #E087FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    position: relative;
    padding: 0 60px;
    overflow-x: hidden;
    z-index: 100;
}

/*--------------------------------- ELEMENT ---------------------------------*/
.blue_btn_color {
  background: linear-gradient(180deg, rgba(175.74, 241.95, 255, 0.73) 0%, #35CFED 100%);
  @apply py-2.5 px-7 text-black rounded-3xl flex items-center font-medium text-sm transition ease-in ;
}

.none_btn_color {
  @apply py-2.5 px-6 text-black rounded-3xl flex items-center font-medium text-sm transition ease-in border border-black;
}

.pink_btn {
  background: var(--element-pink-color); 
  @apply rounded-2xl py-2 px-5 font-bold text-lg md:w-96 w-72 flex justify-center items-center;
}

.blur_bg {
  @apply backdrop-blur-md;
}

.blur_custom {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 246, 246);
  border-radius: 67px;
  border: 1px solid white;
  backdrop-filter: blur(40px);
  margin-top: 50px;
}

.hire_btn {
  @apply rounded-3xl py-1.5 px-9 border border-black;
}

.black_border_input {
  @apply md:w-96 md:h-14 w-72 h-10 rounded-2xl hover:border-black border border-black focus:border-black focus:shadow-none;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.ant-menu-item-selected {
  color: #222 !important;
  @apply text-purple-400;
}

/*--------------------------------- APPERANCE ---------------------------------*/
.hide_on_mobile {
  @apply hidden lg:block
}

.truncate_2_lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.truncate_1_lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

/*--------------------------------- GESTURE ---------------------------------*/
.cursor_pointer {
  @apply hover:cursor-pointer
}


/*--------------------------------- ALIGN-ITEMS ---------------------------------*/
.display_center_horizontal {
  @apply flex justify-center items-center;
}

.display_center_vertical {
  @apply flex flex-col items-center;
}

.display_vertical {
  @apply flex flex-col;
}

/*--------------------------------- SCREEN-SIZE ---------------------------------*/

/* MOBILE */
@media (max-width: 640px) { 
  body {
    padding: 0 10px; 
  }
}

