.blur_bg {
    background-color: rgba(245, 241, 241, 0.45);

    border-radius: 67px;
    border: 1px solid white;
    backdrop-filter: blur(40px);

    @apply mt-6 lg:px-52 py-2 relative px-28;
    
  }

  .pink_dot_first {
    position: absolute;
    right: -2%;
    top: -4%;
    @apply md:block hidden;
    animation: pulse 1s infinite ease-in-out alternate;
  }
  
  .pink_dot_second {
    position: absolute;
    left: -3%;
    top: 40%;
    @apply md:block hidden;
    animation: pulse 1s infinite ease-in-out alternate;
  }
  
  .yellow_dot_first {
    position: absolute;
    top: 0;
    left: -4%;
    z-index: -1000;
    @apply md:block hidden;
    animation: pulse 1s infinite ease-in-out alternate;
  }
  .yellow_dot_second {
    position: absolute;
    top: 60%;
    right: -5%;
    z-index: -1000;
    @apply md:block hidden;
    animation: pulse 1s infinite ease-in-out alternate;
  }
  
  /* ANIMATIONS */
  @keyframes pulse {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1.2);
    }
  }
  