.blur_bg {
    background-color: rgba(245, 241, 241, 0.45);
    border-radius: 67px;
    border: 1px solid white;
    backdrop-filter: blur(40px);
    margin-top: 50px;
    
    @apply relative h-full w-full px-16 py-8;

  }
  
  
  .pink_dot_first {
      position: absolute;
      top: 10%;
      left: -5%;
  
      @apply sm:block hidden
  }

  
  .pink_dot_second {
      position: absolute;
      bottom: -5%;
      right: -5%;
  }
  
  .yellow_dot_first {
      position: absolute;
      bottom: -8%;
      right: 2%;
  }
  
  .yellow_dot_second {
      position: absolute;
      bottom: 0;
      left: -5%;
  }