.container {
    height: 660px;
    overflow-y: scroll;
    background-color: white;
    scrollbar-width: thin;
    scrollbar-color: #d2d6da #f5f5f5;

    @apply w-full border p-2 z-20;
}

.container::-webkit-scrollbar {
    width: 8px; 
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: #d2d6da; 
    border-radius: 20px;
  }
  
  .container::-webkit-scrollbar-track {
    background-color: #f5f5f5; 
  }

    